<!--1. 프로젝트 이름: BEGIN VEGAN. 채식과 제로웨이스트 삶을 시작하는 사람들에게 정보를 주는 사이트-->

<!--3.개발해야하는 우선 기능: 이미지 및 가격 크롤링하기 -->
<!--4. 프로젝트에 필요한 데이터소스(헬로네이처, 비욘드 미트, 디어 달리아, 낫아워스 등 공식홈페이지 이미지 참고)-->
<!--5. To do list : 데이터 크롤링, ZERO WASTE ZONE 프론트엔드 수정하기 -->
<!--댓글 기능.도 달면 좋음... 방법 1. 미리 데이터베이스를 만들어놓고 MONGODB에서 정보만 가져와서 뿌려주는 거라.. (크롤링이 고정된 문제점)  -->
<!--2. 사용자가 요청하면 크롤링 되는 것.(문제점: 불필요한 크롤링 때문에 콘텐츠가 늦게 뜰 수 있음)      3. 사용자가 페이지를 요청한 날짜를 확인. 데이터베이스에 언제 크롤링 했는지를 기록. 크롤링을 안했으면 데이터베이스에 넣어서.. 1번과 2번을 섞는 것.. -->
<!--1번이나 2번 둘 중 하나 정하고, 3번 할지 말지 결정할 것. 1번으로 몽고DB 연결해서 하기~!!!  크로링 코드 짜기 시작할 것. -->
<!--네비게이션 기능. 픽스돼서 스크롤 해도 따라다닐 수 있도록. &     패션&뷰티, 오늘뭐먹지 등등 클릭했을 때 새로운 페이지 나오는 것은 필수적인 것들 모두 다 한 뒤에 하기~!  -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <!--        Required meta tags-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--        Bootstrap css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!--        JS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>

    <title>beginvegan</title>


    <!--        style-->
    <style>
        .center {
            text-align: center;
        }

        .star-list {
            width: 500px;
            margin: 20px auto 0 auto;
        }

        .star-name {
            display: inline-block;
        }

        .star-name:hover {
            text-decoration: underline;
        }

        .card {
            margin-bottom: 15px;
        }

        .jumbotron {
            background-image: url("https://baramimg.cafe24.com/b/0_main/MainBanner_Kr_PC_10.jpg");
            /*    cover 로 바꾸는 법?? 1주차 다시 보기. */
        }
    </style>


</head>
<body>


<!--to do list-->
<!--기사, 레시피, 쇼핑하기, 패션, 뷰티, 크롤링. -->
<!--각 배너에 링크 달고, 배너 클릭시 해당 사이트로 이동-->
<!--기사, 음식, 패션, 뷰티 >>> 버튼으로 만들어 새로운 페이지 만들기.(음식, 패션, 뷰티는 클릭하면 카드 형식으로 정리 & 찜하기. 찜해제 기능. -->
<!-- 질문: 에너지의 날. 이미지 구할 수 없어서.. 스크린샷 찍어서 저장한 뒤 사용해도 되는지..? 에너지의 날 http://www.energyday.org/index-->


<a href="#" class="badge badge-info">맛있는 장보기</a>
<a href="#" class="badge badge-info">오늘 뭐먹지?</a>
<a href="#" class="badge badge-info">패션</a>
<a href="#" class="badge badge-info">뷰티</a>

<!--article-->
<h1> 기사 </h1>

<!--<div class="card bg-dark text-white">-->
<!--    <img src="http://www.energyday.org/images/default/main/vtxt.png" class="card-img" alt="...">-->
<!--    <div class="card-img-overlay">-->
<!--        <h5 class="card-title">8월 22일 에너지의 날</h5>-->
<!--        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.-->
<!--            This content is a little bit longer.</p>-->
<!--        <p class="card-text">Last updated 3 mins ago</p>-->
<!--    </div>-->
<!--</div>-->

<!--질문: image 저장했을 때 링크주소 복사?가 안되는데 어떻게 이미지 삽입하는지 & 점보트론 에너지의 날 저장된 이미지 넣는 법-->


<!--<div class = 'container'>-->
<!--    <div class="jumbotron">-->
<!--        <h1 class="display-4"> 8월 22일 에너지의 날</h1>-->
<!--        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to-->
<!--            featured content or information.</p>-->
<!--        <hr class="my-4">-->
<!--        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
<!--        <a class="btn btn-primary btn-lg" href="http://www.energyday.org/index" role="button">불 끄러 가기</a>-->
<!--    </div>-->
<!--</div>-->

<!--food-->
<!--오늘 뭐먹지-->.
<!--헬로네이처 or 쿠팡 등등 채식제품 상품 크롤링해서 띄우기. 질문 : meta 태그 없을 경우?  -->
<!--헬로네이처 li 태그,, 값 없는 것을 빼고(if문으로) -->


<div class="card mb-3">
    <img src="https://baramimg.cafe24.com/b/0_main/MainBanner_Kr_PC_10.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
</div>


<h1> 오늘 뭐먹지?(레시피 & 레스토랑)</h1>

<div class="card-deck">
    <div class="card">
        <img src="/" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">

        <img src="https://img-ex.hellonature.co.kr/images/ex/PGD/ITEM/028/028270/028270_001_21.jpg" class="card-img-top"
             alt="[바이오라이프] 비건치즈 핫페퍼 슬라이스">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img src="/" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>

<!--질문: 이미지 링크 주소로 복사해올 떄, 이미지 크기 설정하는 방법?? -->

<h1> 맛있는 장보기 </h1>
<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
        <div class="card">
            <img src="https://www.corporateknights.com/wp-content/uploads/2018/02/cleameat1.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://www.corporateknights.com/wp-content/uploads/2018/02/cleameat1.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://www.corporateknights.com/wp-content/uploads/2018/02/cleameat1.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://img-ex.hellonature.co.kr/images/ex/PGD/ITEM/028/028270/028270_001_21.jpg"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="https://www.corporateknights.com/wp-content/uploads/2018/02/cleameat1.jpg" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>


<!--<움직이는 글 넣고 싶은 부분.(디어달리아 참고)>-->
<h2> 입는 채식의 시작 </h2>


<!--fashion-->
<h1> 패션 & 뷰티 </h1>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://baramimg.cafe24.com/b/0_main/MainBanner_Kr_PC_10.jpg" class="d-block w-100" alt="...">
        </div>
        https://baramimg.cafe24.com/b/0_main/MainBanner_Kr_PC_10.jpg
        <div class="carousel-item">
            <img src="https://baramimg.cafe24.com/b/0_main/MainBanner_Kr_PC_10.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://baramimg.cafe24.com/b/0_main/MainBanner_Kr_PC_10.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h1> zero waste zone </h1>
<!--코오롱몰 참고-->

<!--beauty-->
<!--<h1> 뷰티 </h1>-->

<!--<div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">-->
<!--    <ol class="carousel-indicators">-->
<!--        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
<!--        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
<!--        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
<!--    </ol>-->
<!--    <div class="carousel-inner">-->
<!--        <div class="carousel-item active">-->
<!--            <img src="https://baramimg.cafe24.com/b/0_main/MainBanner_Kr_PC_10.jpg" class="d-block w-100" alt="...">-->
<!--            &lt;!&ndash;        <img src="https://baramimg.cafe24.com/b/0_main/MainBanner_Kr_PC_10.jpg" alt="메즈머라이징">&ndash;&gt;-->

<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <img src="https://baramimg.cafe24.com/b/0_main/MainBanner_Kr_PC_10.jpg" class="d-block w-100" alt="...">-->
<!--        </div>-->
<!--        <div class="carousel-item">-->
<!--            <img src="..." class="d-block w-100" alt="...">-->
<!--        </div>-->
<!--    </div>-->
<!--    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
<!--        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--        <span class="sr-only">Previous</span>-->
<!--    </a>-->
<!--    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
<!--        <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--        <span class="sr-only">Next</span>-->
<!--    </a>-->
<!--</div>-->


<section class="hero is-warning">
    <div class="hero-body">
        <div class="container center">
            <h1 class="title">
                마이 페이보릿 무비스타😆
            </h1>
            <h2 class="subtitle">
                순위를 매겨봅시다
            </h2>
        </div>
    </div>
</section>
<div class="star-list" id="star-box">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img
                                src="https://search.pstatic.net/common/?src=https%3A%2F%2Fssl.pstatic.net%2Fsstatic%2Fpeople%2Fportrait%2F201807%2F20180731143610623-6213324.jpg&type=u120_150&quality=95"
                                alt="Placeholder image"
                        />
                    </figure>
                </div>
                <div class="media-content">
                    <a href="#" target="_blank" class="star-name title is-4">김다미 (좋아요: 3)</a>
                    <p class="subtitle is-6">안녕, 나의 소울메이트(가제)</p>
                </div>
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" onclick="likeStar('김다미')" class="card-footer-item has-text-info">
                위로!
                <span class="icon">
              <i class="fas fa-thumbs-up"></i>
            </span>
            </a>
            <a href="#" onclick="deleteStar('김다미')" class="card-footer-item has-text-danger">
                삭제
                <span class="icon">
              <i class="fas fa-ban"></i>
            </span>
            </a>
        </footer>
    </div>
</div>
</body>
</html>